body {
    font-family: sans-serif;
    background-color: brown;     
    width: 70%;
    height: auto;
    margin: 0 auto;
      }
.container1{
    border: 3px black solid   ;
    text-align: center;
    align-items: center;
    background-color: rgba(12, 12, 167, 0.5);
    width: 60%;
}
#imagen1 {
    width: 60%;
}